<h1>Your Students</h1>
<p>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>

<%@this_class.sort_by{|name| name.last_name}.each do |student|%>
<p>
<a href="/students/<%=student.id%>"><%=student.last_name%>, <%=student.first_name%></a>
</p>
<%end%>


<br>
<h4>To add a new student, click <a href="/students/new">here</a>.</h4>


<br>
<br>
<br>
<br>
<p> Click <a href='/logout'>here</a> to logout