<h1>My Students</h1>
<p>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
<h4>To add a new student, click <a href="/students/new">here</a>.</h4>
<br>
<br>
<%@students.each do |student|%>
<p>   
<a href="/students/<%=student.id%>"><%=student.last_name%>, <%=student.first_name%></a>
</p>
<%end%>

<br>
<br>
<br>
<p><a href='/students'>Back to All Students</a><br>
<br>
<p> Click <a href='/logout'>here</a> to logout