<h1>New Student</h1>

<form method="POST" action="/students">    
Student:  
<label for="first_name">First Name: </label>
<input type="text" id="first_name" name="first_name" placeholder="First Name"><br>
<label for="last_name">Last Name: </label>
<input type="text" id="last_name" name="last_name" placeholder="Last Name"><br>
<label for="age">Age: </label>
<input type="text" id="age" name="age" placeholder="Age"><br>
<label for="gender">Gender: </label>
<input type="text" id="gender" name="gender" placeholder="Gender"><br>
<label for="grade">Grade: </label>
<input type="text" id="grade" name="grade" placeholder="Grade"><br>
<label for="subject">Subject: </label>
<input type="text" id="subject" name="subject" placeholder="Subject"><br>

<input type="submit" value="Save">
</form>
