<h1>Sorry</h1>
<p>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>

<p>You are unauthorized to do that.</p>

<br>
<br>
<br>
<br>
<p><a href='/students'>Back to All Students</a><br>
<br>
<a href='/logout'>Logout</a></p>