<h1>Log In</h1>

<form>
<p>---------------------</p>

<form method="POST" action="/login">
<label for="username">Username: </label>
<input type="text" id="username" name="username" placeholder="Username"><br>
<label for="password">Password: </label>
<input type="password" id="password" name="password" placeholder="Password"><br>
<input type="Submit" value="Log In">
</form>


<br>
<br>
<br>
<br>


<p> Click <a href='/signup'>here</a> to sign up if you don't already have an account!