<div class="container">
  <header></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome, Teachers!!</h2>

    <div class="content">
      <p>Need a place to store all of your students and their information for easy access??
      <br><br>
         Well, you've come to the right place! 
         The only way this it could be better is if we could store the actual students in here.. especially when they're misbehaving.
      <br><br>
         <a href="/signup">Sign up</a> or <a href="/login">Log in</a> now to get started!
          </p>
    </div>

    <div class="sidebar">
      <h3>Environment</h3>
      <ul>
        <li><b>Ruby:</b> <%= RUBY_VERSION %></li>
        <li><b>Environment:</b> <%= ENV["RACK_ENV"] %></li>
        <li><b>Server:</b> <%= @env["SERVER_SOFTWARE"] %></li>
        <li><b>Port:</b> <%= @env["SERVER_PORT"] %></li>
      </ul>
    </div>

  </div>
</div>
